.about {
  padding-bottom: 2rem;
  align-items: center;
  text-align: center;
  background: linear-gradient(
      to right,
      rgba($main-color, 1),
      rgba($main-color, 0.5)
    ),
    url("../img/white-technology.jpg") center top;
  background-size: cover;
  padding-top: 8vh;

  .social-icons {
    display: flex;
    flex-direction: column;
    left: 5px;
    bottom: 5px;
  }

  .foot {
    transform: rotate(90deg) translate(-2rem, -4rem);
  }

  &__profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__pic {
    width: 25vw;
    padding-bottom: 1rem;
  }

  &__title {
    padding-bottom: 0.5rem;
    color: $second-color;
  }

  &__text {
    justify-content: center;
    width: 85%;
    padding: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid $text-color;
  }
}

.jobs {
  width: 70vw;
  margin: 0 auto 1rem auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;

  &__job {
    background: linear-gradient($main-color, $main-color) padding-box,
      /*this is your grey background*/
        linear-gradient(to right, $text-color, $main-color) border-box;
    // background: lighten($main-color, 10%);
    padding: 0.5rem;
    border: 1px solid transparent;
    border-radius: 0 30px;

    h2,
    h3 {
      margin: 0.5rem 0;
    }
    h6 {
      margin: 0.3rem 0;
    }
  }
}
