.project {
  align-items: center;
  text-align: center;
  background: linear-gradient(
      to right,
      rgba($main-color, 1),
      rgba($main-color, 0.5)
    ),
    url("../img/white-technology.jpg") center top;
  background-size: cover;
  padding-top: 5vh;

  &_text {
    padding: 1rem;
    color: $text-color;
  }

  &_title {
    padding-bottom: 0.5rem;
    border-bottom: solid 1px;
    font-size: 200%;
    font-weight: 800;
  }

  .social-icons {
    display: flex;
    flex-direction: column;
    left: 0;
    bottom: 0;
  }

  &_items {
    width: 60vw;
    margin: 1rem auto 1rem auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }

  &_item {
    height: 20vh;
    position: relative;
    cursor: pointer;
  }

  &_btns {
    padding-top: 30%;

    a {
      color: $second-color;
      font-size: larger;
    }
  }
}

#project1 {
  background: linear-gradient(
      to right,
      rgba($main-color, 0.9),
      rgba($main-color, 0.8)
    ),
    url("../img/tic-tac-toe.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#project2 {
  background: linear-gradient(
      to right,
      rgba($main-color, 0.9),
      rgba($main-color, 0.8)
    ),
    url("../img/Next@gram.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#project3 {
  background: linear-gradient(
      to right,
      rgba($main-color, 0.9),
      rgba($main-color, 0.6)
    ),
    url("../img/gproject.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.foot {
  bottom: 1.4rem;
  transform: rotate(90deg) translate(-2rem, -4rem);
}
