@include media-md {
  .menu-btn {
    visibility: hidden;
  }

  .nav {
    visibility: visible;

    .menu-nav {
      display: block;
      transform: translateY(0);
      height: 100%;
      background: transparent;
      text-align: right;

      &__item {
        display: inline;
        padding-right: 1.5rem;
      }

      &__link {
        font-size: 1.5rem;
      }
    }
  }
  .about__pic {
    width: 20vw;
  }

  .about__text {
    width: 60vw;
  }

  .jobs {
    width: 50vw;
  }

  #project1,
  #project2,
  #project3 {
    background-repeat: no-repeat;
    background-size: cover;
  }

  .project_items {
    width: 35vw;
  }

  .project_btns {
    padding-top: 15%;
  }

  .chart {
    height: 50%;
    width: 50%;
  }
}

@include media-lg {
  .about__pic {
    width: 20vw;
  }
}

@include media-xl {
  .about__pic {
    width: 20vw;
  }
}
